{# 导入静态资源 #}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- 导入css文件 -->
<link rel="stylesheet" type="text/css" href="{% static "/jquery-easyui-1.3.3/themes/metro/easyui.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "/jquery-easyui-1.3.3/themes/icon.css" %}">
<!-- 导入jquery文件 -->
<script type="text/javascript" src="{% static '/jquery-easyui-1.3.3/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static "/jquery-easyui-1.3.3/jquery.easyui.min.js" %}"></script>
<script type="text/javascript" src="{% static "/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js" %}"></script>
<script type="text/javascript" src="{% static "/jquery-easyui-1.3.3/jquery.edatagrid.js" %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.base64.js' %}"></script>